/*Hacer que todas las cards tengan el mismo alto*/
.card {
  display:flex;
  flex-direction: column;
  height: 100%;
}

.card-footer {
  margin-top: auto;
}

.resultados {
  margin-bottom: 25px;
}

section.section {
  margin-top: 20px!important;
}

button {
  border: none;
  cursor: pointer;
  font-size: 16px;
}